/*
 * @Author: hzq
 * @Date: 2018-08-29 14:25:47
 * @Last Modified by: hzq
 * @Last Modified time: 2018-11-08 10:14:26
 * @文件说明: 全局less覆盖
 */
* {
    margin: 0;
    padding: 0;
}

html,
body {
    font-family: 'Helvetica Neue', Helvetica, 'PingFang SC', 'Hiragino Sans GB',
        'Microsoft YaHei', '微软雅黑', Arial, sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
